*{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Times New Roman", Times, serif;
}


.logo{
    max-width: 50%;
}

.container-fluid{
    background-color: rgb(111, 139, 61);
}

.nav-item .nav-link:hover{
    color: white;
    background-color: rgb(250, 104, 78);
    font-weight: bold;
}

.nav-item.active{
    background-color: goldenrod;
    font-weight: bold;
}

/* .col{
    /* border: 5px solid red;
} */

.card .card-body img{
    width: 75%;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

.dropdown-menu .dropdown-item:hover{
    background-color: rgb(250, 104, 78);
    color: white;
}

.product-header{
    font-weight: bold;
    color: goldenrod;
}

.homecard a{
    color: white;
}

.product-image{
    max-width: 500px;
}

.product-type, #creator-header{
    color: rgb(250, 104, 78);
    font-weight: bolder;
    font-size: 60px;
}

.carousel .carousel-item {
    height: 300px;
  }
  
.item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
}

#empty-pizza{
    max-width: 500px;
}

.btn-creator a, .btn-creator a:hover{
    color: white;
}

.logout-btn:hover{
    color: white;
    background-color: rgb(250, 104, 78);
}

.cart-item-img{
    max-width: 35%;
}

.product-amount{
    max-width: 25%;
}